@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
    font-size: 16px;
    --background-color: black;
    --font-color: white;
    --content-font: "Noto Sans TC";
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 30px;
    --text-4xl: 36px;
    --text-5xl: 42px;
    --text-6xl: 48px;
    --text-7xl: 60px;
    --text-8xl: 72px;
    --text-9xl: 84px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

p {
    font-family: "Noto Sans TC";
}

nav {
    margin-left: auto;
    margin-right: auto;
}
